<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutronex.antx.jasmine">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PoemJas"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Poems"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuthorListActivity"
            android:label="Authors"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PoemSlideActivity"
            android:label=" "
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostTestActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".FavouritePostActivity"
            android:label="Favorites "
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SinglePoemActivity"
            android:label=" "
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".CreditActivity"
            android:label="Credit"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".PoemOfAuthorActivity"
            android:parentActivityName=".AuthorListActivity" />
    </application>

</manifest>